*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 40px;
    gap: 350px;
    line-height: 20px;
}

.logo{
    margin-left: 150px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100vw;
    height: 500px;
    margin-top: 30px;
}

.btn_cript{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 220px;
    border-radius: 5px solid #000;
}

.btn_decript{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 220px;
    border-radius: 5px solid #000;
}

.area_texto_normal{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: blue;
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.area_texto_encripitado{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: red;
}

.img_encript{
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.btn_cop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 250px;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: gray;
}